<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271838805042-th591th80qnke63ctthg2qbva8etehkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271838805042-th591th80qnke63ctthg2qbva8etehkq</string>
	<key>API_KEY</key>
	<string>AIzaSyDApks983r2SAK5orXPlQK8gKHJhPkcnb8</string>
	<key>GCM_SENDER_ID</key>
	<string>271838805042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.haradhaniyaSeller1</string>
	<key>PROJECT_ID</key>
	<string>dukandarapp-e171a</string>
	<key>STORAGE_BUCKET</key>
	<string>dukandarapp-e171a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271838805042:ios:0f3abe017b2609c1b8902b</string>
</dict>
</plist>